{% extends "layout.html.twig" %}

{% block header %}
    {% include 'theme/header.html.twig' %}    
{% endblock %}
{% block menu_lateral %}
    {% include 'theme/menu_lateral.html.twig' %}
{% endblock %}

{% block body %}
            
   <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                
                
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container">
                {% block contenido %}
                {% endblock %}
            </div>
        </section>
    </div>
               
{% endblock %}
{% block sidebar %}
    {% include 'theme/sidebar.html.twig' %}
{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.1
        </div>
        <strong>Copyright &copy; 2016 Todos los derechos reservados.
    </footer>

{% endblock %}
