{% extends "::base.html.twig" %}
{% block contenido %}
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">CPU Traffic</span>
                    <span class="info-box-number">90<small>%</small></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="col-md-6">
            Segundo
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Tercero
        </div>
        <div class="col-md-6">
            Cuarto
        </div>
    </div>
    
    
    </div>
{% endblock %}
